.logo {
    margin: 0 auto;
    width: 250px;
}

.logo img {
    width: 100%;
    height: 100%;
}
nav.menu {
    background: #262626;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}

nav.menu a {
    padding: 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: .5s;
    border-radius: 5px;
}

nav.menu a:hover {
    background: #f9f0f0;
    color: #ff9800;
}
.search_area {
    background: #545252;
    padding: 15px;
    text-align: center;
}

.search_area input {
    display: inline-block;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.cartCount {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
}
.cartCount input {
    background: none;
    border: none;
    width: 10px;
    color: #fff;
}